extends layout

block script
	script(type='text/javascript').
		$(document).ready(function() {
			console.log( "ready!" );
			$('#requestMessage').bind('input propertychange', function() {
				$('#sendUserNameButton').attr('disabled', true)
				if(this.value.length){
					$('#sendUserNameButton').attr('disabled', false)
				}
			});
		});

block content
	.panel.panel-default
		.panel-body
			.row.row-ending
				.col-md-12
					input.form-control(type="submit", onclick="getFriendsList();" value="Get List of Friends")
			.row.row-ending
				label.col-md-3.control-label Current Friends
				.col-md-9
					div(id="friendsList")
					input.form-control(data-page="0" id="nextButton" type='submit', onclick="getNextPage();" value="Get Next Page")
			.row.row-ending
				label.col-md-3.control-label Whitelist Users
				.col-md-9
					textarea.form-control(rows="10" id="whiteList")
			.row.row-ending
				label.col-md-3.control-label BlackList Users
				.col-md-9
					textarea.form-control(id="blackList" rows="10")
			.row.row-ending
				.col-md-12
					input.form-control(id="sendUserNameButton", type="submit", onclick="removeFriends();" value="Remove blacklist")
			.row.row-ending
				progress.form-control(id="progressBar" value="0" max="1")
			.row.row-ending
				label.col-md-3.control-label Console
				.col-md-9
					select.form-control(size="10" id="loadingConsole")
			div(id="currentPage")
			div(id="totalFriends")